mongoengine
jsonpatch
jsonpointer
jsonschema
fastapi
fastapi-mail
coverage
python-magic
requests
mongomock
PyJWT
oauth2client
google-auth
pymongo
graphene-mongo
pylint
flake8
aiosmtplib
python-multipart
email-validator
fastapi-jwt-auth
uvicorn[standard]
black
aiohttp
gql
