mongoengine
jsonpatch
jsonpointer
jsonschema
fastapi
fastapi-mail
coverage
python-magic
requests
mongomock
PyJWT
oauth2client
google-auth
pymongo
graphene-mongo
fastapi-jwt-auth
uvicorn[standard]
aiohttp
gql
